body {
	font-family: Arial, sans-serif;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.form {
	margin-bottom: 10px;
}

label {
	display: inline-block;
	width: 100px;
}

input {
	padding: 5px;
	width: 200px;
}
